/*Header section style*/
*{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color:  #450920;
}

#heading{
    font-size:70px;
    color:whitesmoke ;
}

@media screen and (max-width:640px){
    #heading{
        font-size:43px;
      }
    nav ul li{
        margin-right:10px;
        font-size:13px;
      }
    #productheading{
        font-size:25px;
        }
           
    .aboutus h1{
        font-size:25px;
        }
     
    #aboutuspara{
        font-size:14px;
        }
  }

nav ul{
    list-style-type:none;
    display: flex;
}
nav ul li{
    cursor: pointer;
    font-weight: bold;
    margin: 5px 5px 5px 8px; 
}

nav ul li a{
    color: whitesmoke;
    text-decoration:none;
    transition: color 0.7s;
    font-size: 18px;
}

li a:hover{
    color:#848890;
}

/*Searchbar style*/

#search{
    width: 70%;
    margin: 50px;
    padding: 15px;
    font-size: 18px;
    border-color: #450920;
    border-radius: 30px;
}

/*Products style*/
.box1{
    border: solid 2px #450920;
    width: 290px;
    height: fit-content;
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
    color: black;
    margin-left: 10px;
}

.products{
    text-align: center;
}

#productheading{
 color: #450920;
 font-size:40px;
}

.box1:hover{
    color: white;
    background-color:#da627d;
    border-color: #ffa5ab;
    
}

.box2{
    border: solid 2px #450920;
    color: black;
    width: 290px;
    height: fit-content;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 25px;
}
.box2:hover{
    color: white;
    background-color: #da627d;
    border-color: #ffa5ab;
}

/* aboutus style*/
.aboutus{
    margin: 35px;
    color: #450920;
    line-height: 1.5em;
}

/*Contact style*/

.contact{
    text-align: center;
    padding: 20px;
    line-height: 27px;
    color:#450920;
    background-color: #f9dbbd;
}
              /* Login page */
              
.body2{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;

}           

.login{
    border: 1px solid lightgray;
    width: 440px;
    height: 540px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    background-color: white;
}

@media screen and (max-width:640px) {
    .login{
        width: 380px;
        height: 530px;
        margin-top:100px;
    }
    
    
} 


.input1{
    padding: 18px;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.lbox{
    border: 1px solid lightgray ;
    width: 308px;
    height: 35px;
    margin-top: 20px;
    padding: 12px;
    padding-bottom:5px;
}
